@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 237, 237, 237;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

@layer utilities {
  .glass {
    @apply bg-white/5 backdrop-blur-lg border border-white/10;
  }
  
  .glass-card {
    @apply bg-card border border-card-border shadow-xl;
  }

  .text-balance {
    text-wrap: balance;
  }
}
